<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8sC9_7wj6MHDn2aE5Se1TqMl-lKIkwDE</string>
	<key>GCM_SENDER_ID</key>
	<string>36388404914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>flutterapplication2-36303</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapplication2-36303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36388404914:ios:3a53369adc69f4690a53ab</string>
</dict>
</plist>